DerivedData
.DS_Storre
Playgrounds/.DS_Store
.DS_Store
NovelReader.xcodeproj/project.xcworkspace/xcuserdata/Jopper.xcuserdatad/UserInterfaceState.xcuserstate
NovelReader.xcworkspace/xcuserdata/kang.xcuserdatad/xcdebugger/
NovelReader.xcworkspace/xcuserdata
NovelReader.xcworkspace/contents.xcworkspacedata
Pods/Pods.xcodeproj/xcuserdata/kang.xcuserdatad/
